;; modifiers list
;; !  | means madatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{:profiles
 {:Goku {:default true :sim 50 :delay 500 :alone 500 :held 500}}
 :tos {:delete_all_left {:key :delete_or_backspace :modi [:left_command]}
       :delete_a_word {:key :delete_or_backspace :modi [:left_option]}}
 :templates {:open "open \"%s\""
             :opena "open -a \"%s\""}
 :simlayers {:semicolon-mode {:key :semicolon}}
 :main [
        {:des "[global] ctrl-m to enter"
         :rules [[:!Tm :return_or_enter]]}
        {:des "[global] ctrl-i to tab"
         :rules [[:!Ti :tab]]}
        {:des "[global] return_or_enter to right_control"
         :rules [[:##return_or_enter :right_control nil {:alone :return_or_enter}]]}
        {:des "[global] japanese_eisuu to left_command"
         :rules [[:##japanese_eisuu :left_command]]}
        {:des "[global] caps_lock to left_option"
         :rules [[:##caps_lock :left_option]]}
        {:des "[global] fn to right_option"
         :rules [[:##fn :right_option]]}
        {:des "[global] international3 to grave_accent_and_tilde"
         :rules [[:#Sinternational3 :grave_accent_and_tilde]]}
        {:des "[global] japanese_kana to right_command"
         :rules [[:##japanese_kana :right_command]]}
        {:des "[!terminals_and_vscode] ctrl-b/n/p/f to each arrow keys"
         :rules [:!terminals_and_vscode
                 [:!Tb :left_arrow]
                 [:!Tn :down_arrow]
                 [:!Tp :up_arrow]
                 [:!Tf :right_arrow]]}
        {:des "[!terminals] ctrl-u to delete_all_left"
         :rules [:!terminals [:!Tu :delete_all_left]]}
        {:des "[!terminals] ctrl-w to delete_a_word"
         :rules [:!terminals [:!Tw :delete_a_word]]}
        {:des "[global] ctrl-[ to escape"
         :rules [[:escape [:japanese_eisuu :escape]]
                 [:!Topen_bracket [:japanese_eisuu :escape]]]}
        {:des "[global] IME off when I need"
         :rules [
                 [:!Ty [:japanese_eisuu :!Ty] :terminals_and_vscode]
                 [:!Qt [:japanese_eisuu :!Qt] :browsers]
                 [:!Cl [:japanese_eisuu :!Cl] :browsers]
                 [:!Ospacebar [:japanese_eisuu :!Ospacebar]] ;; Spotlight or Alfred
                 ]}
        {:des "[global] launch apps"
         :rules [:semicolon-mode
                 [:a [:japanese_eisuu [:opena "Alacritty.app"]]]
                 [:c [:japanese_eisuu [:opena "Google Chrome.app"]]]
                 [:d [:japanese_eisuu [:opena "DeepL.app"]]]
                 ; [:!Ee [:japanese_eisuu [:opena "Visual Studio Code.app"]]]
                 [:f [:japanese_eisuu [:opena "Finder.app"]]]
                 [:g [:japanese_eisuu [:opena "Sourcetree.app"]]]
                 ; [:!Ok [:japanese_kana  [:open "/System/Library/PreferencePanes/Keyboard.prefPane"]]]
                 [:x [:japanese_eisuu [:opena "Adobe XD.app"]]]
                 [:v :!!v] ;; Vimac hint mode
                 ]}
        ]
 :applications {:vscode ["^com\\.microsoft\\.VSCode$"]
                :terminals ["^com\\.apple\\.Terminal$",
                            "^com\\.googlecode\\.iterm2$",
                            "^io\\.alacritty$"]
                :terminals_and_vscode ["^com\\.apple\\.Terminal$",
                                       "^com\\.googlecode\\.iterm2$",
                                       "^io\\.alacritty$",
                                       "^com\\.microsoft\\.VSCode$"]
                :browsers ["^com\\.apple\\.Safari$"
                           "^com\\.google\\.Chrome$",
                           "^org\\.mozilla\\.firefox$"]
                }
 :simlayer-threshold 210}
